#read-later {
  margin: 2rem 0;
}

#read-later button {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.5rem 2rem;
  font: inherit;
  color: white;
  cursor: pointer;
}

#read-later button:hover,
#read-later button:active {
  background-color: white;
  color: #390281;
}